{% extends "base_generic.html" %}

{% block content %}
    <section>
        <div class="container">
            <div class="h1">
                <h1>Внести запись о работе</h1>
            </div>
            <form action="{% url 'create-work' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <ul class="create-text">
                    <li>
                        <input type="text" class="word" placeholder="Тема исследования" name="topic" value required>
                    </li>
                    <li>
                        <input type="text" class="word" placeholder="Цель исследования" name="purpose" value
                               required>
                    </li>
                    <li>
                        <input type="text" class="word" placeholder="Задачи исследования" name="objectives" value
                               required>
                    </li>
                    <li>
                        <input type="text" class="word" placeholder="Планируемые результаты" name="results" value
                               required>
                    </li>
                    <li>
                        <input type="text" class="word" placeholder="Планируемая сфера внедрения" name="scope" value
                               required>
                    </li>
                    <li>
                        <input type="text" class="word" placeholder="Организация для внедрения" name="organization"
                               value
                               required>
                    </li>
                    <li>
                        <input type="text" class="word" placeholder="Пояснение по планам внедрения" name="explanation">
                    </li>
                    <li>
                        <input type="text" class="word" placeholder="Стадия проработки вопроса о внедрении" name="stage"
                               value
                               required>
                    </li>
                    <li>
                        <p class="word-p">Студент:</p>
                        <select name="student_id" class="word">
                            {% for student in students %}
                                {% if not student.research %}
                                    <option value="{{ student.id }}">{{ student.full_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <p class="word-p" style="margin-top: -20px; margin-bottom: 15px"><a
                                href="{% url 'create-student' %}">Внести студента</a></p>
                    </li>
                    <li>
                        <p class="word-p">Руководитель:</p>
                        <select name="teacher_id" class="word">
                            {% for teacher in teachers %}
                                <option value="{{ teacher.id }}">{{ teacher.full_name }}</option>
                            {% endfor %}
                        </select>
                        <p class="word-p" style="margin-top: -20px; margin-bottom: 15px"><a
                                href="{% url 'create-teacher' %}">Внести руководителя</a></p>
                    </li>
                    <li>
                        <p class="word-p">Дата начала работы:</p>
                        <input type="date" class="word" name="date_create">
                    </li>
                    <li>
                        <p class="word-p">Полученная отметка:</p>
                        <select name="score" class="word">
                            <option value="" selected></option>
                            {% for i in '1234567891'|make_list %}
                                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <p class="word-p">Пояснительная записка:</p>
                        <input type="file" name="file" class="word" multiple>
                    </li>
                </ul>
                <input type="submit" value="Сохранить" class="send">
            </form>
        </div>
    </section>
{% endblock %}