{% extends "base_generic.html" %}

{% block content %}
    <script>
        function updateinfo() {
            if (category.value === 'С') {
                $("#specialty").empty();
                {% for index,name in student_specialty %}
                    var opt = document.createElement("option");
                    opt.value = '{{ index }}';
                    opt.innerHTML = '{{ index }}, {{ name }}';
                    specialty.add(opt);
                {% endfor %}
            } else if (category.value === 'М') {
                $("#specialty").empty();
                {% for index,name in magistr_specialty %}
                    var opt = document.createElement("option");
                    opt.value = '{{ index }}';
                    opt.innerHTML = '{{ index }}, {{ name }}';
                    specialty.add(opt);
                {% endfor %}
            } else if (category.value === 'А') {
                $("#specialty").empty();
            }
        }
    </script>
    <section>
        <div class="container">
            <div class="h1">
                <h1>Редактирование записи об авторе работы</h1>
            </div>
            <form action="{% url 'edit-student' student.id %}" method="post">{% csrf_token %}
                <ul class="create-text">
                    <li>
                        <p class="word-p">ФИО студента:</p>
                        <input type="text" class="word" placeholder="" name="full_name" value="{{ student.full_name }}"
                               required>
                    </li>
                    <li>
                        <p class="word-p">Категория студента:</p>
                        <select name="category" id="category" class="word">
                            {% for index, name in category_student %}
                                <option value="{{ index }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <script>
                            var categoryset = document.querySelector('#category').getElementsByTagName('option');
                            for (let i = 0; i < categoryset.length; i++) {
                                if (categoryset[i].value === '{{ student.category }}')
                                    categoryset[i].selected = true;
                            }
                        </script>
                    </li>
                    <li>
                        <p class="word-p">Специальность:</p>
                        <select name="specialty" id="specialty" class="word"></select>
                    </li>
                    <script>
                        {
                            updateinfo();
                        }
                    </script>
                    <script>
                        var specialtyset = document.querySelector('#specialty').getElementsByTagName('option');
                        for (let i = 0; i < specialtyset.length; i++) {
                            if (specialtyset[i].value === '{{ student.specialty }}') {
                                specialtyset[i].selected = true;
                                console.log('123');
                            }
                        }
                    </script>
                    <script>
                        $("#category").on("change", function () {
                            updateinfo();
                        })
                    </script>
                    <li>
                        <p class="word-p">Форма обучения:</p>
                        <select name="form" id="form" class="word">
                            {% for index, name in student_form %}
                                <option value="{{ index }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <script>
                        var formset = document.querySelector('#form').getElementsByTagName('option');
                        for (let i = 0; i < formset.length; i++) {
                            if (formset[i].value === '{{ student.form }}')
                                formset[i].selected = true;
                        }
                    </script>
                    <li>
                        <p class="word-p">Номер телефона:</p>
                        <input type="text" class="word" placeholder="" name="phone_number"
                               value="{{ student.phone_number }}">
                    </li>
                    <li>
                        <p class="word-p">Адрес электронной почты:</p>
                        <input type="text" class="word" placeholder="" name="email"
                               value="{{ student.email }}">
                    </li>
                    <li>
                        <p class="word-p">Дата начала обучения (ГГГГ-ММ-ДД):</p>
                        <input type="text" class="word" placeholder="" name="date_start"
                               value="{{ student.date_start.isoformat }}" required>
                    </li>
                    <li>
                        <p class="word-p">Дата окончания обучения (ГГГГ-ММ-ДД):</p>
                        <input type="text" class="word" placeholder="" name="date_end"
                               value="{{ student.date_end.isoformat }}" required>
                    </li>
                    <input type="submit" value="Сохранить" class="send">
                </ul>
            </form>
        </div>
    </section>
{% endblock %}