{% extends "base_generic.html" %}

{% block content %}
    <section>
        <div class="container">
            <div class="h1">
                <h1>{{ student.full_name }}</h1>
            </div>
            <p class="word"><strong>Категория:</strong> {{ student.get_category_display }}</p>
            <p class="word"><strong>Специальность: </strong> {{ student.get_specialty_display }}</p>
            <p class="word"><strong>Форма обучения: </strong> {{ student.get_form_display }}</p>
            {% if student.phone_number %}
                <p class="word"><strong>Номер телефона: </strong> {{ student.phone_number }}</p>
            {% endif %}
            {% if student.email %}
                <p class="word"><strong>Адрес электронной почты: </strong> {{ student.email }}</p>
            {% endif %}
            <p class="word"><strong>Дата начала обучения: </strong> {{ student.date_start }}</p>
            <p class="word"><strong>Дата окончания обучения: </strong> {{ student.date_end }}</p>
            {% if student.research %}
                <p class="word"><strong>Выполнил работу: </strong><br>
                    <a href="{{ student.research.get_absolute_url }}">{{ student.research.topic }}</a><br>
                </p>
            {% endif %}
            {% if student.research.score %}
                <p class="word"><strong>Полученная отметка: </strong> {{ student.research.score }}</p>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="row">
                    <div class="flex">
                        <div class="col-md-4">
                            <input type="submit" value="Изменить" class="send"
                                   onclick="document.location='{% url 'edit-student' student.pk %}'">
                            <input type="submit" value="Удалить" class="send"
                                   onclick="document.location='{% url 'delete-student' student.pk %}'">
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}