{% extends "base_generic.html" %}
{% block content %}
    {% load static %}
    <section>
        <div class="container">
            <div class="h1">
                <h1>Список студентов</h1>
            </div>
            <form class="search-form" action="{% url 'search_student_results' %}" method="get" id="form_query">
                <input class="search-input" type="text" placeholder="Поиск..." name="query" id="query">
                <button type="submit" class="search-button"></button>
            </form>
            <div class="col-md-12">
                {% if student_list %}
                    {% for student in student_list %}
                        <div class="col-md-12">
                            <div class="list-margin">
                                <div class="section-title"
                                     style="text-align:left;float:left;width:100%;margin-bottom:-10px">
                                    <span><a href="{{ student.get_absolute_url }}">{{ student.full_name }}</a></span>
                                </div>
                                <p>
                                    Специальность: {{ student.specialty }}, {{ student.get_specialty_display }}<br>
                                    Форма обучения: {{ student.get_form_display }}<br>
                                </p>
                                {% if perms.thesis.change_student %}
                                    <td><a href="{% url 'edit-student' student.id %} ">Изменить</a>
                                {% endif %}
                                {% if perms.thesis.delete_research %}
                                    | <a href="{% url 'delete-student' student.id %}">Удалить</a></td>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <div class="list-margin">
                            <div class="section-title">
                                <span>Студенты не найдены</span>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endif %}
            </div>
        </div>
        {% if perms.thesis.add_student %}
            <span><a href="{% url 'create-student' %}" class="btn green">Внести студента</a></span>
        {% endif %}
    </section>
{% endblock %}