{% extends "base_generic.html" %}
{% load l10n %}
{% block content %}
    <section>
        <div class="container">
            <div class="h1">
                <h1>{{ teacher.full_name }}</h1>
            </div>
            <p class="word"><strong>Степень: </strong>{{ teacher.degree }}</p>
            {% if teacher.title %}
                <p class="word"><strong>Звание: </strong> {{ teacher.title }}</p>
            {% endif %}
            {% if teacher.phone_number %}
                <p class="word"><strong>Номер телефона: </strong> {{ teacher.phone_number }}</p>
            {% endif %}
            {% if teacher.email %}
                <p class="word"><strong>Адрес электронной почты: </strong> {{ teacher.email }}</p>
            {% endif %}
            {% if user.is_authenticated %}
                <script src="https://www.google.com/jsapi"></script>
                <script>
                    google.load("visualization", "1", {packages: ["corechart"]});
                    google.setOnLoadCallback(drawChart);

                    var information =
                        [
                            ['Год', 'Средний балл'],

                        ];
                    {% for year, ball in researches_year_info %}
                        information.push(['{{ year }}', {{ ball|unlocalize }}]);
                    {% endfor %}
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable(information);
                        var options = {
                            title: 'Средний балл, полученный за защищенные работы',
                            hAxis: {title: 'Год'},
                            vAxis: {title: 'Средний балл'}
                        };
                        var chart = new google.visualization.ColumnChart(document.getElementById('graf'));
                        chart.draw(data, options);
                    }
                </script>
                <div id="graf" style="width: auto; height: 500px;"></div>
            {% endif %}

            <input type="submit" value="Посмотреть работы" class="send"
                   onclick="document.location='{% url 'teacher-works' teacher.pk %}'">
            {% if user.is_authenticated %}
                <input type="submit" value="Изменить" class="send"
                       onclick="document.location='{% url 'edit-teacher' teacher.pk %}'">
                <input type="submit" value="Удалить" class="send"
                       onclick="document.location='{% url 'delete-teacher' teacher.pk %}'">
            {% endif %}
        </div>
    </section>
{% endblock %}